/*Untitled-1-css*/

/*在进行网页设计时，最好先用建立各部分border，在逐一进行样式设计*/

body{
    margin: 0px;
	border: 0px red solid;
    font-family: "楷体";
}


header{
	border-bottom:1px solid black;
    width: 100%;
    height: 30%;
    background: azure;
}

aside{
	border-right: #6A08A4 solid 0px;
    float: left;
    background: antiquewhite;
	width: 16%;
	height: 100%;
	
}

nav{
    border: 0px solid red;
    height: 200px; 
	padding: 0px;
    
   
}
article{
    border: 0px  solid;
    border-right-color:red;
    border-left-color:blueviolet;
    width: 80%;
    
   margin-left: auto;
}

img{
    width: 200px;
    height: 160px;
}


footer{
    border-bottom: 1px blueviolet solid;
    width: 800px;
    height: 56px;
    margin: 0px auto;
}

#div01{
	margin-top: 10px;
	
}

#div02{
	width: 200px;
    height: 100px;
    background-color: aquamarine;
	float: right;
	margin-top: 10px;
	
}

#id01{
	float: none;
	
}



#id02_2{
	background-color: rgba(164,164,164,1.00)
}


#footerp{
	
    margin-left: 190px;
    font-family:  "楷体" ;
    font-size: 20px;
}

/*
.fa1{
	margin-top: 10px;
}
*/


#A{
	margin-left: 20px;
	margin-top: 20px;
}

#lena{
    margin-left:30px;
	margin-top: 20px;
     
}

#text01{
    border: 0px black solid;
    margin-left: 6px;
    margin-top: 3px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 8px #c22dcf;

}

#text02{
    border: 0px red solid;
    z-index: 1;
    margin-left: 1000px;
    margin-top: -50px;
	
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-shadow: 1px 1px  8px rgb(189, 26, 20);
}

a{
    text-decoration: none;         /*去掉下划线*/
}


section{
    border:black 0px solid;
    width : 540px;
    
}

img {border-radius:50px 10px}
img {border-style:dashed}           /*(solid)(double双实线)(dotted点线)(inset3D嵌入线)(outset3D浮出线)*/
img {border-width:2px}              /*边框宽度*/
img {border-color:red purple yellow green}

